In [117]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing  import StandardScaler, OneHotEncoder, LabelEncoder

In [118]:
data = pd.read_csv('Churn_Modelling.csv')
print(data.head(5))

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

In [119]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [120]:

from sklearn.preprocessing import  OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
Geo_transformed = onehot_encoder_geo.fit_transform(data[["Geography"]]).toarray()
Geo_transformed = pd.DataFrame(Geo_transformed, columns = onehot_encoder_geo.get_feature_names_out(['Geography']) )
Geo_transformed

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [121]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [122]:
from sklearn.preprocessing import  LabelEncoder
label_encoder = LabelEncoder()
data['Gender'] = label_encoder.fit_transform(data['Gender'])
data = data.drop( ['Geography'], axis = 1)
data = pd.concat([data, Geo_transformed], axis =1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [123]:
X = data.drop(['EstimatedSalary'], axis = 1)
y = data[['EstimatedSalary']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= 41)

In [124]:
scaler_reg = StandardScaler()

X_train = scaler_reg.fit_transform(X_train)
X_test = scaler_reg.transform(X_test)

In [125]:
import pickle

with open('scaler_reg.pkl', 'wb') as file:
    pickle.dump(scaler_reg,file)
    
## Save the Encoders and scaler
with open('label_reg.pkl', 'wb') as file:
    pickle.dump(label_encoder, file)
    
with open('onehot_encoder_geo_reg.pkl' , 'wb') as file:
    pickle.dump(onehot_encoder_geo,file)

## Ann Regression Problem Statement

In [126]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [127]:
model = Sequential (
    [
        
        Dense(64, activation='relu', input_shape = (X_train.shape[1],)),
        Dense(32, activation = 'relu'),
        Dense(1)
    ]
)

model.compile( optimizer = 'adam', loss = 'mean_absolute_error', metrics =['mae'])
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 64)                832

 dense_16 (Dense)            (None, 32)                2080

 dense_17 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [128]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up Tensor Board
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d - %H%M%S")
tensorboard_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)

# set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience = 10, restore_best_weights=True)

In [129]:

history = model.fit(
    X_train, y_train, 
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks= [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 2s 4ms/step - loss: 99490.6094 - mae: 99490.6094 - val_loss: 102087.9688 - val_mae: 102087.9688
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 98745.4141 - mae: 98745.4141 - val_loss: 100534.5234 - val_mae: 100534.5234
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 96081.3828 - mae: 96081.3828 - val_loss: 96558.8438 - val_mae: 96558.8438
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 90839.2734 - mae: 90839.2734 - val_loss: 89863.9062 - val_mae: 89863.9062
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 83252.7031 - mae: 83252.7031 - val_loss: 81065.1406 - val_mae: 81065.1406
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 74449.3281 - mae: 74449.3281 - val_loss: 72007.4609 - val_mae: 72007.4609
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 65918.7109 - mae: 65918.7109 - val_loss: 63785.1758 - val_mae: 63785.1758
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 59001.4883 - mae: 59001.4883 - val_loss: 57659.1836 - val_mae: 57659.1836
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 54432.1953 - mae: 54432.1953 - val_loss: 53784.8555 - val_mae: 53784.8555
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 51924.7148 - mae: 51924.7148 - val_loss: 51717.0156 - val_mae: 51717.0156
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 50784.0391 - mae: 50784.0391 - val_loss: 50823.7656 - val_mae: 50823.7656
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50325.3984 - mae: 50325.3984 - val_loss: 50459.5977 - val_mae: 50459.5977
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50134.8203 - mae: 50134.8203 - val_loss: 50318.9883 - val_mae: 50318.9883
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50053.5547 - mae: 50053.5547 - val_loss: 50280.6562 - val_mae: 50280.6562
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 50000.6914 - mae: 50000.6914 - val_loss: 50234.1953 - val_mae: 50234.1953
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 49963.4062 - mae: 49963.4062 - val_loss: 50212.9336 - val_mae: 50212.9336
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 49934.6016 - mae: 49934.6016 - val_loss: 50207.7695 - val_mae: 50207.7695
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 49907.9727 - mae: 49907.9727 - val_loss: 50207.1680 - val_mae: 50207.1680
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 49884.9023 - mae: 49884.9023 - val_loss: 50197.2031 - val_mae: 50197.2031
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 49867.3594 - mae: 49867.3594 - val_loss: 50174.6953 - val_mae: 50174.6953
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 49847.1172 - mae: 49847.1172 - val_loss: 50163.8203 - val_mae: 50163.8203
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 49825.4805 - mae: 49825.4805 - val_loss: 50156.2656 - val_mae: 50156.2656
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 49811.7617 - mae: 49811.7617 - val_loss: 50140.7344 - val_mae: 50140.7344
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49795.1992 - mae: 49795.1992 - val_loss: 50124.6406 - val_mae: 50124.6406
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 49780.8828 - mae: 49780.8828 - val_loss: 50127.1641 - val_mae: 50127.1641
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49767.3633 - mae: 49767.3633 - val_loss: 50117.6992 - val_mae: 50117.6992
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49755.2734 - mae: 49755.2734 - val_loss: 50125.8555 - val_mae: 50125.8555
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 49741.1836 - mae: 49741.1836 - val_loss: 50138.5781 - val_mae: 50138.5781
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49732.6172 - mae: 49732.6172 - val_loss: 50120.4922 - val_mae: 50120.4922
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49718.7109 - mae: 49718.7109 - val_loss: 50145.2422 - val_mae: 50145.2422
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 49706.9805 - mae: 49706.9805 - val_loss: 50116.5898 - val_mae: 50116.5898
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 49700.4375 - mae: 49700.4375 - val_loss: 50118.6211 - val_mae: 50118.6211
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 49690.9336 - mae: 49690.9336 - val_loss: 50102.7227 - val_mae: 50102.7227
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 49677.2461 - mae: 49677.2461 - val_loss: 50099.1719 - val_mae: 50099.1719
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49669.3359 - mae: 49669.3359 - val_loss: 50090.7734 - val_mae: 50090.7734
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49661.6133 - mae: 49661.6133 - val_loss: 50107.8594 - val_mae: 50107.8594
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49652.0664 - mae: 49652.0664 - val_loss: 50102.2617 - val_mae: 50102.2617
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49647.7539 - mae: 49647.7539 - val_loss: 50112.3242 - val_mae: 50112.3242
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 49637.8438 - mae: 49637.8438 - val_loss: 50100.6953 - val_mae: 50100.6953
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49630.7852 - mae: 49630.7852 - val_loss: 50088.9805 - val_mae: 50088.9805
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49623.9961 - mae: 49623.9961 - val_loss: 50083.8047 - val_mae: 50083.8047
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49616.2188 - mae: 49616.2188 - val_loss: 50092.8359 - val_mae: 50092.8359
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49608.8789 - mae: 49608.8789 - val_loss: 50092.1211 - val_mae: 50092.1211
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49603.4297 - mae: 49603.4297 - val_loss: 50121.3555 - val_mae: 50121.3555
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49597.6602 - mae: 49597.6602 - val_loss: 50092.5703 - val_mae: 50092.5703
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 49595.0469 - mae: 49595.0469 - val_loss: 50092.8359 - val_mae: 50092.8359
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49584.4141 - mae: 49584.4141 - val_loss: 50092.9766 - val_mae: 50092.9766
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 49579.2461 - mae: 49579.2461 - val_loss: 50089.2305 - val_mae: 50089.2305
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 49572.4727 - mae: 49572.4727 - val_loss: 50079.6602 - val_mae: 50079.6602
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 49570.4688 - mae: 49570.4688 - val_loss: 50098.7617 - val_mae: 50098.7617
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 49559.7188 - mae: 49559.7188 - val_loss: 50069.3633 - val_mae: 50069.3633
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49556.7969 - mae: 49556.7969 - val_loss: 50078.8242 - val_mae: 50078.8242
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49550.4805 - mae: 49550.4805 - val_loss: 50076.3594 - val_mae: 50076.3594
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49545.9922 - mae: 49545.9922 - val_loss: 50068.9766 - val_mae: 50068.9766
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49541.2812 - mae: 49541.2812 - val_loss: 50094.5547 - val_mae: 50094.5547
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49534.9258 - mae: 49534.9258 - val_loss: 50102.9492 - val_mae: 50102.9492
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49534.8438 - mae: 49534.8438 - val_loss: 50089.1562 - val_mae: 50089.1562
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49526.1680 - mae: 49526.1680 - val_loss: 50081.4648 - val_mae: 50081.4648
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49520.9453 - mae: 49520.9453 - val_loss: 50069.0508 - val_mae: 50069.0508
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49517.2148 - mae: 49517.2148 - val_loss: 50083.3945 - val_mae: 50083.3945
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49512.3281 - mae: 49512.3281 - val_loss: 50082.8672 - val_mae: 50082.8672
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 49508.6367 - mae: 49508.6367 - val_loss: 50062.0039 - val_mae: 50062.0039
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49507.6992 - mae: 49507.6992 - val_loss: 50068.0664 - val_mae: 50068.0664
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 49499.9609 - mae: 49499.9609 - val_loss: 50069.9062 - val_mae: 50069.9062
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49495.1055 - mae: 49495.1055 - val_loss: 50064.4805 - val_mae: 50064.4805
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 49494.1406 - mae: 49494.1406 - val_loss: 50071.5977 - val_mae: 50071.5977
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 49490.2695 - mae: 49490.2695 - val_loss: 50054.7734 - val_mae: 50054.7734
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 49489.6523 - mae: 49489.6523 - val_loss: 50059.3750 - val_mae: 50059.3750
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 49483.9219 - mae: 49483.9219 - val_loss: 50061.8203 - val_mae: 50061.8203
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 49483.5547 - mae: 49483.5547 - val_loss: 50064.5195 - val_mae: 50064.5195
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 49476.9453 - mae: 49476.9453 - val_loss: 50062.4492 - val_mae: 50062.4492
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 49475.2578 - mae: 49475.2578 - val_loss: 50070.6797 - val_mae: 50070.6797
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 49469.6406 - mae: 49469.6406 - val_loss: 50083.3633 - val_mae: 50083.3633
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 49469.1875 - mae: 49469.1875 - val_loss: 50063.3828 - val_mae: 50063.3828
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 49464.1328 - mae: 49464.1328 - val_loss: 50064.8906 - val_mae: 50064.8906
Epoch 76/100
250/250 [==============================] - 1s 3ms/step - loss: 49466.2188 - mae: 49466.2188 - val_loss: 50057.3320 - val_mae: 50057.3320
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 49458.6992 - mae: 49458.6992 - val_loss: 50043.1250 - val_mae: 50043.1250
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 49457.3438 - mae: 49457.3438 - val_loss: 50069.1289 - val_mae: 50069.1289
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 49455.8398 - mae: 49455.8398 - val_loss: 50070.5664 - val_mae: 50070.5664
Epoch 80/100
250/250 [==============================] - 1s 3ms/step - loss: 49452.6680 - mae: 49452.6680 - val_loss: 50074.9258 - val_mae: 50074.9258
Epoch 81/100
250/250 [==============================] - 1s 3ms/step - loss: 49448.0273 - mae: 49448.0273 - val_loss: 50062.9141 - val_mae: 50062.9141
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 49446.2812 - mae: 49446.2812 - val_loss: 50070.8164 - val_mae: 50070.8164
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 49444.7969 - mae: 49444.7969 - val_loss: 50081.5273 - val_mae: 50081.5273
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 49440.4648 - mae: 49440.4648 - val_loss: 50078.3867 - val_mae: 50078.3867
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 49439.8438 - mae: 49439.8438 - val_loss: 50086.5273 - val_mae: 50086.5273
Epoch 86/100
250/250 [==============================] - 1s 3ms/step - loss: 49439.0391 - mae: 49439.0391 - val_loss: 50078.1836 - val_mae: 50078.1836
Epoch 87/100
250/250 [==============================] - 1s 3ms/step - loss: 49434.2852 - mae: 49434.2852 - val_loss: 50053.7617 - val_mae: 50053.7617

In [130]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [131]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 28660), started 1:33:18 ago. (Use '!kill 28660' to kill it.)

In [132]:
test_loss, test_mae = model.evaluate(X_test, y_test)

test_loss

63/63 [==============================] - 0s 1ms/step - loss: 50043.1250 - mae: 50043.1250

50043.125

In [133]:
test_mae

50043.125

In [134]:
model.save('regression_model.h5')

C:\ProgramData\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(